@import './vendor.scss';
@import './global.scss';

$cs-color-primary: #482572;
$cs-color-primary-light: '';
$cs-color-secondary: #ed7e2f;
$cs-color-secondary-dark: #d15301;
$cs-color-secondary-light: #ffeee2;

$cs-color-box-shadow: #dbdbdb;

body {
  font-size: 12px;
}

.page {
  &-wrapper {
    .drawer-overlay {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      z-index: 999;
      background-color: #000000;
      opacity: 0.5;
      transform: translateX(-100%);
      @media (min-width: 991px) {
        transform: translateX(-100%) !important ;
      }
      &.show-drawer {
        transform: translateX(0);
      }
    }
  }
  &-layout {
  }
  &-layout-dashboard {
  }
  &-header {
    background-color: $cs-color-primary;
    color: white;
    z-index: 995;
    padding-left: 0px;
    width: 100%;
    position: fixed;
    height: 66px;
    transition: width, padding-left 0.2s ease;
    @media (max-width: 991px) {
      background-color: #ffffff;
      &.show-drawer {
        width: 100% !important;
        padding-left: 0px !important;
      }
    }
    .navbar {
      justify-content: flex-start;
      height: 100%;
    }
    &.show-drawer {
      padding-left: 240px;
    }
  }
  &-sidebar {
    display: flex;
    flex-direction: column;

    height: 100vh;
    position: fixed;
    width: 240px;
    background-color: #ffffff;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 2px 0px $cs-color-box-shadow;
    transition: transform 0.2s ease;
    transform: translateX(-100%);
    @media (max-width: 991px) {
      transform: translateX(-100%);
      &.show-drawer {
        transform: translateX(0);
      }
    }
    &.show-drawer {
      transform: translateX(0);
    }
    .logo {
      height: 27px;
      width: auto;
      margin: 0 auto;
      display: block;
      &-wrapper {
        height: 66px;
        padding: 15px 0;
        border-bottom: 1px solid $cs-color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &-content {
    background-color: #f3f5fa;
    transition: padding-left 0.2s ease;
    width: 100%;
    height: calc(100vh - 54px);
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: calc(66px + 15px);
    padding-left: 15px;
    @media (max-width: 991px) {
      &.show-drawer {
        width: 100% !important;
        padding-left: 15px !important;
      }
    }
    &.show-drawer {
      padding-left: calc(240px + 15px);
    }
  }
  &-footer {
    z-index: 1000;
    padding-left: 0px;
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px -1px 2px 0px $cs-color-box-shadow;
    @media (max-width: 991px) {
      &.show-drawer {
        width: 100% !important;
        padding-left: 0px !important;
      }
    }
    &.show-drawer {
      padding-left: 240px;
    }
  }
}
.dropdown-menu {
  font-size: inherit;
}
.dropdown-menu > li > a {
  color: #353f52;
  padding: 5px 20px;
  // font-size: 14px;
  display: block;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: $cs-color-primary;
}

.sidebar {
  &-menu {
    position: relative;
    padding: 0;

    margin: 0;
    .dropdown-toggle {
      &.collapsed {
        &::after {
          content: '\f0da';
        }
      }
      &::after {
        content: '\f0d7';
        font-family: FontAwesome;
        position: absolute;
        right: 10px;
        border: none;
        top: 50%;
        transform: translatey(-50%);
      }
    }
    &.inner {
      position: relative;
      padding: 5px;
      border-left: 1px solid $cs-color-secondary;
      background-color: $cs-color-secondary-light;
      .sidebar-menu_item {
      }
    }
    &:not(.inner) {
      @media (min-width: 992px) {
        .sidebar-menu_item {
          &.inactive {
            display: none;
          }
          &.active {
            & > a.dropdown-toggle {
              display: none;
            }
            & > .sidebar-menu {
              display: block;
              background-color: #ffffff;
              border: none;
            }
          }
        }
      }
    }
    &_item {
      padding: 1px 0;

      &.active {
        > a,
        > a.dropdown-toggle.collapsed {
          background-color: $cs-color-secondary;
          color: #ffffff;
          border-left: 5px solid $cs-color-secondary-dark;
          border-radius: 4px;
        }
      }
      a {
        color: #000000;
        padding: 10px;
        display: block;
        position: relative;
        text-decoration: none;
        border-radius: 4px;
        border-left: 5px solid transparent;
        &.dropdown-toggle {
          color: #ffffff;
          background-color: #ed7f2f;
          border-radius: 4px 4px 0 0;
          &:hover {
            color: #ffffff;
            background-color: $cs-color-secondary;
          }
        }
        &.dropdown-toggle.collapsed {
          color: #000000;
          background-color: inherit;
          border-radius: 4px;
          &:hover,
          &:focus {
            color: #ffffff;
            background-color: $cs-color-secondary;
          }
        }
        &:hover,
        &:focus {
          color: #ffffff;
          background-color: $cs-color-secondary;
        }
      }
    }

    &-container {
      min-height: calc(100vh - 66px);
      overflow-x: hidden;
      overflow-y: auto;
      padding: 5px;
      background-color: #ffffff;
      color: #000000;
      flex: 1;
    }
  }
}

.fa {
  &.fa-bars {
    color: #ffffff;
    @media (max-width: 991px) {
      color: $cs-color-primary;
    }
  }
}

.nav-user-icon {
  .dropdown {
    &-toggle {
      color: #ffffff;
      padding: 5px 0;
      @media (max-width: 991px) {
        color: $cs-color-primary;
      }
      &:hover,
      &focus {
        color: #ffffff;
        @media (max-width: 991px) {
          color: $cs-color-primary;
        }
      }
      .fa.fa-user {
        padding: 7px;
        border: 2px solid #ffffff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        color: #ffffff;
        margin-right: 5px;
        margin-right: 5px;
        @media (max-width: 991px) {
          color: $cs-color-primary;
          border-color: $cs-color-primary;

          width: 30px;
          height: 30px;
          padding: 5px;
        }
      }
    }
  }
}

.c-pointer {
  cursor: pointer;
}

.logo-wrapper-header {
  height: 25px;
  // border-bottom: 1px solid #4c2775;
  flex: 1;
  text-align: center;
  .logo {
    height: 100%;
  }
}

.main-nav {
  flex: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin: 0 30px;
  &_item {
    display: inline-block;
    position: relative;
    &::after {
      // content: '';
      // position: absolute;
      // left: 100%;
      // top: 50%;
      // width: 1px;
      // height: 28px;
      // transform: translateY(-50%);
      // background-color: #000000;
      // display: block;
    }
    &-wrapper {
      display: flex;
      // flex-direction: column;
      align-items: center;
      color: #ffffff;
      text-decoration: none;
      padding: 0 15px;
      flex-direction: column;
      &.active,
      &:hover {
        color: $cs-color-secondary;
        text-decoration: none;
      }
    }
    .link-icon {
    }
    .link-text {
      display: inline-block;
      word-break: break-word;
      min-width: 50px;
      text-align: center;
    }
  }
}
